<!DOCTYPE html>
<html>
<head>
    <link href="../static/main.css" rel = "stylesheet">
</head>
  <body>
    <div class="container">
      <h1>Geocoder</h1>
      <br>
      <h3>Please upload your spreadsheet. The values containing addresses should be in a column names <i>address</i> or <i>Address</i>.</h3>
      <br>
      <div class="message">

      </div>
      <form action="{{url_for('success')}}" method="POST" enctype="multipart/form-data" placeholder="Please upload your CSV file here">
        <input type="file" accept=".csv, .xls, .xlsx" name="file" title="Please upload a file with location data here" required>
      <!-- -->
        <button type="submit">Submit</button>
      </form>
      {% include btn ignore missing %}
      <div class="message">
        {{text | safe}}
      </div>
      <br>
      <p>Please make sure your spreadsheet has an "Address" column</p>


    </div>
  </body>


</html>
